body{
  font-size: 23px;
  font-family: 'simpler-regular';
}

.main-container {
  justify-content: right;
  display: flex;
}

.adv-obj{
  display: flex;
  align-items: center;
  direction: rtl;
  flex-direction: row;
  height: 70px;
  width: 50px;
}
