.header-container{
  display: flex;
  justify-content: right;
  // align-items: center;
  direction: rtl;
  flex-direction: column;
  font-family: 'simpler-black';
  margin: 0 10%;
  padding: 0px;
  font-size: 42px;
}

.big-title{
  font-size: 95px;

  margin-top: 0 !important;
}


