.main-container{
  width: 35%;
  margin: 30px auto;
  text-align: center;
  background-image: '../assets/images/packs_BG.png';
}

.carousel-background{
  width: 100%;
}

.carousel-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  // background-image: url("../assets/images/packs_BG.png");
}
